<section class="drep-flow">
  <header class="drep-flow-header">
    <h2>Phase {{phaseNumber}}: {{phaseName}}</h2>
    <div class="drep-flow-phase-nav" role="group" aria-label="Phase navigation">
      <button type="button" class="drep-flow-phase-prev" data-drep-action="flow-prev-phase" {{#unless canNavigatePrev}}disabled{{/unless}} title="{{#if prevPhaseLabel}}Previous: {{prevPhaseLabel}}{{/if}}">
        <i class="fa-solid fa-chevron-left"></i>
        Prev
      </button>
      <span class="drep-flow-phase-current">Phase {{phaseNumber}} of {{phaseCount}}</span>
      <button type="button" class="drep-flow-phase-next" data-drep-action="flow-next-phase" {{#unless canNavigateNext}}disabled{{/unless}} title="{{#if nextPhaseLabel}}Next: {{nextPhaseLabel}}{{/if}}">
        Next
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
    <div class="drep-flow-zoom" role="group" aria-label="Flow zoom">
      <button type="button" class="drep-flow-zoom-out" data-drep-action="flow-zoom-out" title="Zoom out">-</button>
      <input class="drep-flow-zoom-range" type="range" min="50" max="200" step="5" value="{{flowZoom}}" />
      <span class="drep-flow-zoom-label">{{flowZoom}}%</span>
      <button type="button" class="drep-flow-zoom-in" data-drep-action="flow-zoom-in" title="Zoom in">+</button>
      <button type="button" class="drep-flow-zoom-reset" data-drep-action="flow-zoom-reset" title="Reset zoom">Reset</button>
    </div>
    {{#if showPlanRewards}}
      {{#if (or phaseRewardGoldDisplay phaseRewardItemsDisplay.length)}}
        <div class="drep-flow-phase-rewards">
          {{#if phaseRewardGoldDisplay}}
            <span class="drep-reward-label">Phase Gold:</span>
            <span class="drep-reward-gold">{{phaseRewardGoldDisplay}}</span>
          {{/if}}
          {{#if (and phaseRewardGoldDisplay phaseRewardItemsDisplay.length)}}
            <span class="drep-reward-sep">|</span>
          {{/if}}
          {{#if phaseRewardLinks}}
            <span class="drep-reward-label">Phase Items:</span>
            {{{phaseRewardLinks}}}
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  </header>

  <div class="drep-flow-zoom-surface">
    {{#if (and (not readOnly) showFlowLines)}}
      <details class="drep-flow-unassigned drep-collapsible" data-collapse-id="unassigned-success">
        <summary><span class="drep-summary-toggle"><i class="fa-solid fa-angle-down drep-expand"></i><i class="fa-solid fa-angle-up drep-collapse"></i></span><span>Unassigned Success Lines</span>{{#unless readOnly}}<button type="button" class="drep-flow-add-line" data-drep-action="add-line" data-line-type="success">+ Line</button>{{/unless}}</summary>
        <div class="drep-flow-lines success">
          {{#each unassignedSuccess}}
            <div class="drep-flow-line drep-flow-line-chip" draggable="true" data-drep-line-id="{{this.id}}" data-drep-line-type="success"><span class="drep-flow-line-text drep-flow-editable" data-edit="line-text" data-line-id="{{this.id}}" data-line-type="success" data-value="{{this.text}}">{{#if this.text}}{{this.text}}{{else}}(empty){{/if}}</span>{{#unless @root.readOnly}}<button type="button" class="drep-flow-line-remove" title="Remove">x</button>{{/unless}}</div>
          {{/each}}
        </div>
      </details>
    {{/if}}
    {{#if (and (not readOnly) showFlowLines)}}
      <details class="drep-flow-unassigned drep-collapsible" data-collapse-id="unassigned-failure">
        <summary><span class="drep-summary-toggle"><i class="fa-solid fa-angle-down drep-expand"></i><i class="fa-solid fa-angle-up drep-collapse"></i></span><span>Unassigned Failure Lines</span>{{#unless readOnly}}<button type="button" class="drep-flow-add-line" data-drep-action="add-line" data-line-type="failure">+ Line</button>{{/unless}}</summary>
        <div class="drep-flow-lines failure">
          {{#each unassignedFailure}}
            <div class="drep-flow-line drep-flow-line-chip" draggable="true" data-drep-line-id="{{this.id}}" data-drep-line-type="failure"><span class="drep-flow-line-text drep-flow-editable" data-edit="line-text" data-line-id="{{this.id}}" data-line-type="failure" data-value="{{this.text}}">{{#if this.text}}{{this.text}}{{else}}(empty){{/if}}</span>{{#unless @root.readOnly}}<button type="button" class="drep-flow-line-remove" title="Remove">x</button>{{/unless}}</div>
          {{/each}}
        </div>
      </details>
    {{/if}}

    {{#unless readOnly}}<div class="drep-flow-lanes-toolbar"><button class="drep-flow-add-group" type="button" data-drep-action="add-group">+ Group</button></div>{{/unless}}

    <div class="drep-flow-lanes">
      {{#each groups}}
        <div class="drep-flow-lane" data-drep-group-id="{{this.id}}">
          <div class="drep-flow-lane-header" draggable="true"><span class="drep-flow-group-name drep-flow-editable" draggable="true" data-edit="group-name" data-group-id="{{this.id}}" data-value="{{this.rawName}}">{{this.name}}</span>{{#if this.maxChecks}} <span class="drep-flow-group-cap">(Max: {{this.maxChecks}})</span>{{/if}}{{#unless @root.readOnly}} <span class="right-group"><button type="button" class="drep-flow-group-max" data-drep-action="set-group-max" data-group-id="{{this.id}}" title="Set max success">Max</button> <button type="button" class="drep-flow-add-check" data-drep-action="add-check" data-group-id="{{this.id}}">+ Check</button>{{#unless this.checks.length}}<button type="button" class="drep-flow-remove-group" data-drep-action="remove-group" data-group-id="{{this.id}}" title="Delete group">x</button>{{/unless}}{{/unless}}</span></div>
          {{#if (and @root.showFlowLines this.successLines.length)}}
            <details class="drep-flow-lines success drep-collapsible" data-collapse-id="group-{{this.id}}-success">
              <summary><span class="drep-summary-toggle"><i class="fa-solid fa-angle-down drep-expand"></i><i class="fa-solid fa-angle-up drep-collapse"></i></span><span>Group Success Lines</span></summary>
              {{#each this.successLines}}
                <div class="drep-flow-line drep-flow-line-chip" draggable="true" data-drep-line-id="{{this.id}}" data-drep-line-type="success"><span class="drep-flow-line-text drep-flow-editable" data-edit="line-text" data-line-id="{{this.id}}" data-line-type="success" data-value="{{this.text}}">{{#if this.text}}{{this.text}}{{else}}(empty){{/if}}</span>{{#unless @root.readOnly}}<button type="button" class="drep-flow-line-remove" title="Remove">x</button>{{/unless}}</div>
              {{/each}}
            </details>
          {{/if}}
          {{#if (and @root.showFlowLines this.failureLines.length)}}
            <details class="drep-flow-lines failure drep-collapsible" data-collapse-id="group-{{this.id}}-failure">
              <summary><span class="drep-summary-toggle"><i class="fa-solid fa-angle-down drep-expand"></i><i class="fa-solid fa-angle-up drep-collapse"></i></span><span>Group Failure Lines</span></summary>
              {{#each this.failureLines}}
                <div class="drep-flow-line drep-flow-line-chip" draggable="true" data-drep-line-id="{{this.id}}" data-drep-line-type="failure"><span class="drep-flow-line-text drep-flow-editable" data-edit="line-text" data-line-id="{{this.id}}" data-line-type="failure" data-value="{{this.text}}">{{#if this.text}}{{this.text}}{{else}}(empty){{/if}}</span>{{#unless @root.readOnly}}<button type="button" class="drep-flow-line-remove" title="Remove">x</button>{{/unless}}</div>
              {{/each}}
            </details>
          {{/if}}
          <div class="drep-flow-checks">
            {{#each this.checks}}
              <div class="drep-flow-check {{#if this.locked}}is-locked{{/if}} {{#if this.groupMaxed}}is-group-maxed{{/if}} {{#if this.complete}}is-complete{{/if}} {{#if (and @root.readOnly this.isRestrictedByActor)}}is-actor-locked{{/if}}" data-drep-check-id="{{this.id}}" data-drep-group-id="{{../id}}" data-drep-drop="actor" draggable="true">
                <div class="drep-flow-check-name drep-flow-editable" data-edit="check-name" data-check-id="{{this.id}}" data-value="{{this.rawName}}">{{this.name}}{{#unless @root.readOnly}}<button type="button" class="drep-flow-remove-check" data-drep-action="remove-check" data-id="{{this.id}}">x</button>{{/unless}}</div>
                <div class="drep-flow-check-meta">
                  {{#unless @root.readOnly}}
                    <button type="button" class="drep-flow-flags-toggle {{#if this.isCompletionOpen}}is-open{{/if}} {{#if this.hasCompletionFlags}}has-completion{{/if}} {{#if this.hasMacro}}has-macro{{/if}} {{#if this.hasCompleteFlag}}has-complete{{/if}} {{#if this.hasItems}}has-items{{/if}} {{#if this.hasGold}}has-gold{{/if}}" data-drep-action="toggle-check-flags" data-check-id="{{this.id}}" title="Completion options">
                      <i class="fa-solid fa-chevron-right"></i>
                      <i class="fa-solid fa-chevron-down"></i>
                    </button>
                  {{/unless}}
                  <span class="drep-flow-check-skill drep-flow-editable" data-edit="check-skill" data-check-id="{{this.id}}" data-skill="{{this.skill}}" data-value="{{this.skill}}">{{this.skillLabel}}</span>
                  {{#if (and @root.readOnly this.hasActorRestriction)}}
                    <span class="drep-flow-check-actor" title="Restricted Actor">
                      <i class="fa-solid fa-user"></i>
                      {{this.restrictedActorName}}
                    </span>
                  {{/if}}
                  {{#if (and this.dcLabel this.showDcLabel)}}
                    <span class="drep-flow-check-dc drep-flow-editable" data-edit="check-dc" data-check-id="{{this.id}}" data-dc="{{this.dc}}" data-difficulty="{{this.difficulty}}"{{#if this.dcTooltip}} title="{{this.dcTooltip}}"{{/if}}>{{this.dcLabel}}</span>
                  {{/if}}
                </div>
                {{#unless @root.readOnly}}
                  <div class="drep-flow-check-flags {{#if this.isCompletionOpen}}is-open{{/if}}" data-drep-check-flags="{{this.id}}">
                    <label class="drep-flow-check-flag">
                      <input type="checkbox" data-drep-action="toggle-check-flag" data-flag="completeGroupOnSuccess" data-check-id="{{this.id}}" {{#if this.completeGroupOnSuccess}}checked{{/if}} />
                      Completes group
                    </label>
                    <label class="drep-flow-check-flag">
                      <input type="checkbox" data-drep-action="toggle-check-flag" data-flag="completePhaseOnSuccess" data-check-id="{{this.id}}" {{#if this.completePhaseOnSuccess}}checked{{/if}} />
                      Completes phase
                    </label>
                    <label class="drep-flow-check-flag">
                      Macro
                      <input type="text" data-drep-action="check-complete-macro" data-check-id="{{this.id}}" value="{{this.checkCompleteMacro}}" data-drep-drop="macro" />
                    </label>
                    <label class="drep-flow-check-flag">
                      Gold (gp; negative for costs)
                      <input type="number" data-drep-action="check-success-gold" data-check-id="{{this.id}}" value="{{this.checkSuccessGold}}" step="1" />
                    </label>
                    <label class="drep-flow-check-flag">
                      Items
                      <div class="drep-item-drop" data-drep-drop="item" data-check-id="{{this.id}}">
                        <div class="drep-item-list">
                          {{#if this.checkSuccessItemsDisplay.length}}
                            {{#each this.checkSuccessItemsDisplay}}
                              <div class="drep-item-row-check" data-item-index="{{@index}}">
                                <input type="text" class="drep-item-name-check" value="{{this.name}}" title="{{this.uuid}}" readonly />
                                <input type="number" class="drep-item-qty-check" min="1" value="{{this.qty}}" data-drep-action="check-success-item-qty" data-check-id="{{../id}}" data-item-index="{{@index}}" />
                                <button type="button" class="drep-item-remove-check" data-drep-action="remove-check-success-item" data-check-id="{{../id}}" data-item-index="{{@index}}">x</button>
                              </div>
                            {{/each}}
                          {{else}}
                            <div class="drep-muted">Drop items here.</div>
                          {{/if}}
                        </div>
                      </div>
                    </label>
                    <label class="drep-flow-check-flag">
                      Restricted Actor
                      <div class="drep-item-drop" data-drep-drop="actor" data-check-id="{{this.id}}">
                        <div class="drep-item-list">
                          {{#if this.hasActorRestriction}}
                            <div class="drep-item-row-check">
                              <input type="text" class="drep-item-name-check" value="{{this.restrictedActorName}}" title="{{this.restrictedActorUuid}}" readonly />
                              <button type="button" class="drep-item-remove-check" data-drep-action="clear-check-actor" data-check-id="{{this.id}}">x</button>
                            </div>
                          {{else}}
                            <div class="drep-muted">Drop actor here.</div>
                          {{/if}}
                        </div>
                      </div>
                    </label>
                  </div>
                {{/unless}}
                {{#if (or this.description (not @root.readOnly))}}
                  <div class="drep-flow-check-desc drep-flow-editable" data-edit="check-description" data-check-id="{{this.id}}" data-value="{{this.rawDescription}}">
                    {{#if this.description}}{{this.description}}{{else}}(description){{/if}}
                  </div>
                {{/if}}
                {{#if (and @root.showPlanRewards @root.readOnly)}}
                  {{#if (or this.checkSuccessGoldDisplay this.checkSuccessItemsDisplay.length)}}
                    <div class="drep-flow-check-rewards">
                      {{#if this.checkSuccessGoldDisplay}}
                        <span class="drep-reward-label">Gold:</span>
                        <span class="drep-reward-gold">{{this.checkSuccessGoldDisplay}}</span>
                      {{/if}}
                      {{#if (and this.checkSuccessGoldDisplay this.checkSuccessItemsDisplay.length)}}
                        <span class="drep-reward-sep">|</span>
                      {{/if}}
                      {{#if this.checkRewardLinks}}
                        <span class="drep-reward-label">Items:</span>
                        {{{this.checkRewardLinks}}}
                      {{/if}}
                    </div>
                  {{/if}}
                {{/if}}
                {{#if this.dependsOnEntries.length}}
                  {{#if @root.showFlowRelationships}}
                  <div class="drep-flow-deps">
                    <span class="drep-flow-deps-label">Depends on</span>
                    {{#each this.dependsOnEntries}}
                      <span class="drep-flow-dep {{#if (and this.complete (not ../locked) (not ../complete))}}is-complete{{/if}}" data-dep-id="{{this.id}}" data-dep-kind="{{this.kind}}" data-dep-index="{{this.index}}" data-target-check-id="{{../id}}" data-dep-type="{{this.type}}" title="{{this.detail}}">{{this.label}}{{#unless @root.readOnly}}<button type="button" class="drep-flow-dep-remove" title="Remove">x</button>{{/unless}}</span>
                    {{/each}}
                  </div>
                {{/if}}
                {{/if}}
                {{#if (and @root.showFlowLines this.successLines.length)}}
                  <details class="drep-flow-lines success drep-collapsible" data-collapse-id="check-{{this.id}}-success">
                    <summary><span class="drep-summary-toggle"><i class="fa-solid fa-angle-down drep-expand"></i><i class="fa-solid fa-angle-up drep-collapse"></i></span><span>Success Lines</span></summary>
                    {{#each this.successLines}}
                      <div class="drep-flow-line drep-flow-line-chip" draggable="true" data-drep-line-id="{{this.id}}" data-drep-line-type="success"><span class="drep-flow-line-text drep-flow-editable" data-edit="line-text" data-line-id="{{this.id}}" data-line-type="success" data-value="{{this.text}}">{{#if this.text}}{{this.text}}{{else}}(empty){{/if}}</span>{{#unless @root.readOnly}}<button type="button" class="drep-flow-line-remove" title="Remove">x</button>{{/unless}}</div>
                    {{/each}}
                  </details>
                {{/if}}
                {{#if (and @root.showFlowLines this.failureLines.length)}}
                  <details class="drep-flow-lines failure drep-collapsible" data-collapse-id="check-{{this.id}}-failure">
                    <summary><span class="drep-summary-toggle"><i class="fa-solid fa-angle-down drep-expand"></i><i class="fa-solid fa-angle-up drep-collapse"></i></span><span>Failure Lines</span></summary>
                    {{#each this.failureLines}}
                      <div class="drep-flow-line drep-flow-line-chip" draggable="true" data-drep-line-id="{{this.id}}" data-drep-line-type="failure"><span class="drep-flow-line-text drep-flow-editable" data-edit="line-text" data-line-id="{{this.id}}" data-line-type="failure" data-value="{{this.text}}">{{#if this.text}}{{this.text}}{{else}}(empty){{/if}}</span>{{#unless @root.readOnly}}<button type="button" class="drep-flow-line-remove" title="Remove">x</button>{{/unless}}</div>
                    {{/each}}
                  </details>
                {{/if}}
              </div>
            {{/each}}
            {{#unless this.checks.length}}
              <div class="drep-muted">No checks in this group.</div>
            {{/unless}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
